* {
    padding: 0;
    margin: 0;
    font-family: "Knewave", system-ui;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: 'wdth' 100;
}

.root {
    --primary-color: green;
    --secondary-color: white;
    --accent-color: blueviolet;
}

body {
    position: relative;
    /* height: 1000dvh; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 3fr 3fr 1fr ;
    grid-template-areas: 
    "header header header header"
    "main main main aside"
    "categories-main categories-main categories-main aside"
    "footer footer footer footer";
}

/* Navbar */
header {
    background-color: aqua;
    grid-area: header;
    padding: 0 10dvh;
}

.site-header {
  position: fixed; top: 0; left: 0; right: 0; z-index: 1000;
  background: rgb(255, 182, 210);
  height: 7dvh;
}
body { padding-top: 7dvh; } /* prevent content from going under the header */


nav {
    /* position: sticky;
    top: 0;
    z-index: 100; */
    /* background-color: pink; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    height: 7dvh;
    border-bottom: 1px solid grey;
}

.logo {
    text-decoration: none;
    color: green;
}

.nav-links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: auto 0;
}

.nav-link {
    text-decoration: none;
    color: gray;
}

.nav-link:hover {
    color: green;
}

/* Mobile Devices */
#menu-toggle {
    display: none;
}

.menu-icon {
    font-size: 30px;
    color: rgb(255, 255, 255);
    display: none;
}

@media (max-width: 780px) {
    .intro {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        padding: 7dvh 0;
    }

    .my-image {
        min-width: 150px;
        height: 150px;
    }

    .menu-icon {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 7dvh;
        left: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        display: none;
        background-color: white;
        border-radius: 0 0 10px 10px;
    }

    .nav-links li {
        padding: 10px 0;
    }

    /* When checkbox is checked, show menu */
    #menu-toggle:checked + .menu-icon + .nav-links {
        display: flex
    }
}

main {
    background-color: greenyellow;
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    /* justify-content: space-around; */
    justify-items: center;
    align-items: center;
    align-content: center;
}

aside {
    background-color: blueviolet;
    grid-area: aside;
}

.categories-main {
    background-color: yellow;
    grid-area: categories-main;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

footer {
    background-color: red;
    grid-area: footer;
}

